
<div
  class="bg-image"
  style="
    background-image: url('../../assets/ofc-bul2');
    height: 100vh;
  ">
  <p class="text-lg-start">Welcome To DMANTZ Technologies</p>
  <!-- <div class="Box" >
    <div id="disc1" class="Box">
      <span class="see_more">See More</span>
      <i class="bi bi-arrow-right"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" id="arr1" >
      <path fill-rule="evenodd" />
    </svg>
    </div> -->
    <div id="see-more">
    <button class="button" (click)="goToHomePage()"><span class="see-more">See More </span></button>
  </div>
</div>