<html>
  <head>
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
  
      <img src="../../assets/office.icon.png" alt="" width="50" height="50">
      <span id="heading">
       <h6 id="dmantz">Dmantz</h6>
       <h6 id="technologies">Technologies</h6>
      </span>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Technology Stack
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="javaData()">Java</a></li>
              <li><a class="dropdown-item" (click)="angularData()">Angular</a></li>
              <li><a class="dropdown-item" (click)="pythonData()">Python</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>




   <div>
    <img src="../../assets/bg-image" class="img-fluid" alt="...">
 </div> 
 <div>
  <img src="../../assets/ofc-img3.jpg" class="img-fluid" width="1370px" height="400px">
  <h1 id="tech">Technology stack</h1>
  <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap" id="card-images">
    <div class="card d-flex position-relative flex-column" >
        <div class='imgContainer'>
            <img src='../../assets/web-ui.jpg'>
        </div>
        <div class="content">
            <h2>Web UI</h2>
           <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JAVA SCRIPT</li>
            <li>PHP</li>
            <li>wordpress</li>
           </ul>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='../../assets/enterprice-img.jpg'>
        </div>

        <div class="content">
            <h2>Enterprice Services</h2>
            <ul>
              <li>spring boot</li>
              <li>Spring Framework</li>
              <li>J2EE</li>
              <li>Node Js</li>
            </ul>

        </div>
       
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='../../assets/database-img.jpg'>
        </div>
        <div class="content">
            <h2>Dtabase</h2>
            <ul>
              <li>Oracle</li>
              <li>Mysql</li>
              <li>teraData</li>
              <li>NoSql</li>
              <li>Mongodb</li>
            </ul>
           
        </div>
    </div>
</div>

</div> 


</body>
</html>