<div class="col-md-6 offset-md-4">
    <div class="container">
        <div class="Background_" class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" id="Background_"
            style="background-image: url('../../assets/Background.png'); height: 650px; width: 375px;">
            <div id="Group_11599">
                <img src="../../assets/Group 11599.png" class="rounded float-start" alt="...">
                <div id="text-xl-start">
                    <p class="text-xl-start">RADIO STATION</p>
                </div>
                <div id="text-sm-start">
                    <p class="text-sm-start">YOUR DAILY DOSE OF HAPPINESS</p>
                </div>
            </div>
            <div id="Welcome_Back">
                <p class="text-center">Welcome Back!</p>
            </div>
            <div id="Login_to_continue_us">
                <p class="text-center">register to continue Radio App</p>
            </div>
            <form (submit)="onSubmit()" [formGroup]="registerForm">
                <div class="form-group" id="email">
                   
                    
                    <input  [ngClass]="{'is-invalid':submitted && registerForm.controls['email'].errors}"
                        formControlName="email" type="email" id="email1"  class="form-control" placeholder="enter Email Address" >
                    <div *ngIf="submitted && registerForm.controls['email'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['email'].errors['required']">
                            Email Address is required
                        </div>
                        <div *ngIf="submitted && registerForm.controls['email'].errors['email']">
                            Email Address is not Valid
                        </div>
                    </div>
                </div>
                <div class="form-group" id="exampleInputPassword1" 
                        
                >
                    
                    <input [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                        formControlName="password" type="password"  id="password1" class="form-control" 
                        
                        placeholder="enter password" 
                         [pattern]="passwordPtn">
                    <div *ngIf="submitted && registerForm.controls['password'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['password'].errors['required']">
                            Password is required
                        </div>
                        <div *ngIf="submitted && registerForm.controls['password'].errors['pattern']">
                            Password should be special characters
                        </div>
                    </div>
                </div>
                <div class="form-group" id="exampleInputPassword2">
                    
                    <input [ngClass]="{'is-invalid':submitted && registerForm.controls['cpassword'].errors}"
                        formControlName="cpassword" type="password" class="form-control" id="password1"  placeholder="enter Confirmpassword">
                    <div *ngIf="submitted && registerForm.controls['cpassword'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['cpassword'].errors['required']">
                           confirm Password is required
                        </div>
                        <div *ngIf="submitted && registerForm.controls['cpassword'].errors['mustMatch']">
                            Password mustMatch
                        </div>
                    </div>
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" class="Rectangle_bo">
                    <div id="text-sm-start">
                        <p class="text-sm-start" id="Remember_me">Remember me</p>
    
                        <div id="text-sm-start">
                            <p class="text-sm-start" id="Forgot_password">Forgot password?</p>
                        </div>
    
                        <button type="button" class="btn btn-secondary" id="login" (click)="onSubmit()">Register</button>
                    </div>
                </div>
            </form>
            <!-- <div id="text-sm-start" id="Dont_have_an_account_Sign_up">
                <p class="text-sm-start" id="OR">Don't have an account?</p>
                <p class="text-sm-start" id="sign_up">Sign
                    up</p>
            </div>
            <div id="text-sm-start" id="By_signing_up_you_indicate_tha">
                <p class="text-sm-start" id="OR">By signing up you indicate read and <br />agreed to the Patch</p>
            </div> -->
    
        </div>
    </div> 
    </div>
    
    
