
<nav class="navbar navbar-dark bg-dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="Radio">Raido</a>
       
      
          <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="dis">Discover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="journals">jourlns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="contact">contact</a>
            </li>
            <li>
                <i class="bi bi-search"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" id="search">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg> 
            </li>
          </ul>

        
 
      </div>
  </nav>
  <div >
    <img src="../../assets/Rectangle_9@2x.png" id="img">
  </div>
  <div id="Bring_your_creativit">
    <span>The new way to plan your next adventure</span>
</div>
<div id="Portfolio">
    <span>----Explore the colourful world</span>
</div>

  
<div id="Group_275">
    <div id="Aboutus">
        <span>About Us</span>
    </div>
    <div id="Portfolio_ba">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo
             consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
    </div>
    <div id="blur">
    <div id="Group_267">
        <div id="Bring_your_creativit_bq">
            <span>268</span>
        </div>
        <div id="Portfolio_br">
            <span>Completed Trips</span>
        </div>
    </div>

    <div id="Group_268">
        <div id="Bring_your_creativit_bt">
            <span>176</span>
        </div>
        <div id="Portfolio_bu">
            <span>Tour Guides</span>
        </div>
    </div>

    <div id="Group_269">
        <div id="Bring_your_creativit_bw">
            <span>153</span>
        </div>
        <div id="Portfolio_bx">
            <span>Destinations</span>
        </div>
    </div>
</div>

<div id="yellow">

 
<span id="read">Read More</span>



<i class="bi bi-arrow-right"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" id="right-arrow">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>


</div>

</div>


    <img src="../../assets/Rectangle 16.jpg" id="img2">


<div class="container-fluid" id="bottom1">

	<div id="Bring_your_creativit_b">
		<span>Discover the most engaging places</span>
	</div>

  <div id="Portfolio_cc">
		<span>Lets's see the world with us with you and your family.</span>
	</div>

  <img src="../../assets/Rectangle_21.png" id="image1">
    <div id="Bring_your_creativit_cf">
      <span>Norway</span>
    </div>
    <div id="Portfolio_co">
      <span>Norway is a Scandinavian country encompassing mountains, glaciers and deep coastal fjords. </span>
    </div>
<img src="../../assets/Rectangle_22.png" id="image2">
 <div id="Bring_your_creativit_cm">
  <span>London</span>
</div>
<div id="Portfolio_cq">
  <span>London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times.</span>
</div>

<img src="../../assets/Rectangle_23.png" id="image3">
<div id="Bring_your_creativit_cn">
  <span>Japan</span>
</div>
<div id="Portfolio_cp">
  <span>Japan is famous for creating the world’s leading electronics and car brands, 
    while remaining deeply connected to traditions.</span>
</div>
</div>

<div id="discover" class="row">
<div id="disc1" class="col">
  <span>Discover More</span>
  <i class="bi bi-arrow-right"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" id="arr1" >
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</div>

<div id="disc2" class="col">
  <span>Discover More</span>
  <i class="bi bi-arrow-right"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" id="arr2" >
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</div>

<div id="disc3" class="col">
  <span >Discover More</span>
  <i class="bi bi-arrow-right"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" id="arr3" >
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</div>
</div>

<div>
  <div id="Bring_your_creativit_ca">
		<span>Latest on the Blogs</span>
	</div>
  <div id="Portfolio_cd">
		<span>We want to help you to travel better!</span>
	</div>
</div>
<div id="images">
  <img src="../../assets/Rectangle_56@2x.png" id="vechile">
  <div id="Portfolio_cr">
		<span>10 Mistakes every first time traveller will make and how to avoid them!</span>
	</div>
  <img src="../../assets/Rectangle_57.png" id="people">
  <div id="Portfolio_dp">
		<span>What's it really like to move to a country where you don't speak the language?</span>
	</div>
  <img src="../../assets/Rectangle_55@2x.png" id="ship">
  <div id="Portfolio_dq">
		<span>Exploring the quiet corners of Oslo | gallop around the globe.</span>
	</div>
  <img src="../../assets/Rectangle_58@2x.png" id="mountain">
  <div id="Portfolio_dr">
		<span>11 things to know before you visit rainbow mountain in Peru.</span>
	</div>
</div>
<div id="travel-journals">
  <div id="Bring_your_creativit_cb">
		<span>The Travel Journals</span>
	</div>
  <div id="Portfolio_ce">
		<span>A journal is a place to record new things you have discovered while exploring various places you visit.</span>
	</div>
   
  <div id="journals">
    <img src="../../assets/Rectangle_60@2x.png" id=girl>
    <img src="../../assets/Ellipse_1@2x.png" id="man-circle">
    <img src="../../assets/Rectangle_62@2x.png" id="city">
    <img src="../../assets/Ellipse_2@2x.png" id="elgibith">
    <img src="../../assets/Rectangle_64.png" id="man">
    <img src="../../assets/Ellipse_3@2x.png" id="girl2">
    <div id="Portfolio_eg">
      <span>By Austin Martin</span>
      <div id="Portfolio_ed">
        <span>How to use less plastic <br>
          when you travel.</span>
          <div id="Portfolio_em">
            <span>18 Apr 2022</span>
            <img src="../../assets/7f59fd7eca5c4dfb67076eb439d10531.png" id="share">
          </div>
      </div>
    </div>

      <div id="Portfolio_ei">
        <span>By Mary Ann</span>
        <div id="Portfolio_d">
          <span>The best weekend road
            <br> trips from Denver.</span>
            <div id="Portfolio_eo">
              <span>18 Apr 2022</span>
              <img src="../../assets/7f59fd7eca5c4dfb67076eb439d10531.png" id="share1">
            </div>
        </div>
    </div>

    <div id="Portfolio_ek">
      <span>By Anina Joseph</span>
      <div id="Portfolio_eb">
        <span>Tips and tricks to plan your <br>next adventure.</span>
        <div id="Portfolio_er">
          <span>18 Apr 2022</span>
          <img src="../../assets/7f59fd7eca5c4dfb67076eb439d10531.png" id="share1">
        </div>
      </div>
    </div>
<div id="explore">
<span id="exp1">View all journals</span>
<i class="bi bi-arrow-right"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" id="right-arrow2" >
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</div>
<img src="../../assets/Mask_Group_262.png" id="raidoimg">
</div>

  

