<div class="col-md-6 offset-md-4">
<div class="container">
    <div class="Background_" class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" id="Background_"
        style="background-image: url('../../assets/Background.png'); height: 650px; width: 375px;">
        <div id="Group_11599">
            <img src="../../assets/Group 11599.png" class="rounded float-start" alt="...">
            <div id="text-xl-start">
                <p class="text-xl-start">RADIO STATION</p>
            </div>
            <div id="text-sm-start">
                <p class="text-sm-start">YOUR DAILY DOSE OF HAPPINESS</p>
            
            </div>
        </div>

        <!-- <i class="bi bi-arrow-right"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" (click)="goToLoginPage()">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
    </div>
</div>
</div>