<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span id="Build-con"class="text-warning">Build</span>Con</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="goToHome()" id="nav-item1">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToFeatures()">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="nav-item2">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToContactUs()" id="nav-item3">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="services" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 id="Our-services">Our Services</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Vel placeat pariatur a repellat distinctio laborum, quaerat eum dolorum saepe inventore
                        quo ratione deserunt accusamus sapiente? Quis debitis ullam temporibus consequuntur.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                    <i class="bi bi-subtract"></i>
                    <h3 class="card-title">Best quality</h3>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Reprehenderit, quidem accusantium culpa dolor sed libero incidunt iure esse
                        ab officiis veritatis. Officiis beatae modi dolore quo, expedita cupiditate ut
                        reiciendis.
                    </p>
                    <button class="btn btn-warning text-dark">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                    <i class="bi bi-slack"></i>
                    <h3 class="card-title">Sustainability</h3>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Reprehenderit, quidem accusantium culpa dolor sed libero incidunt iure esse
                        ab officiis veritatis. Officiis beatae modi dolore quo, expedita cupiditate ut
                        reiciendis.
                    </p>
                    <button class="btn btn-warning text-dark">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                    <i class="bi bi-subtract"></i>
                    <h3 class="card-title">Intigrity</h3>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Reprehenderit, quidem accusantium culpa dolor sed libero incidunt iure esse
                        ab officiis veritatis. Officiis beatae modi dolore quo, expedita cupiditate ut
                        reiciendis.
                    </p>
                    <button class="btn btn-warning text-dark">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>