<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" ><span id="Build-con"class="text-warning">Build</span>Con</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="goToHome()" id="nav-item1">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToFeatures()">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToService()" id="nav-item2">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  id="nav-item3">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="team" class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Vel placeat pariatur a repellat distinctio laborum, quaerat eum dolorum saepe inventore
                
                        quo ratione deserunt accusamus sapiente? Quis debitis ullam temporibus consequuntur.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="../../assets/house women-img3.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="card-title py-2">
                            jack1
                        </h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptatibus atque sit fugit commodi perspiciatis suscipit ipsam
                             labore nobis totam. Iusto 
                            odit magni et dolorem necessitatibus voluptatibus praesentium 
                            eius explicabo maxime?
                        </p>
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="../../assets/house women -img4.jpeg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="card-title py-2">
                            jack2
                        </h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptatibus atque sit fugit commodi perspiciatis suscipit ipsam
                             labore nobis totam. Iusto 
                            odit magni et dolorem necessitatibus voluptatibus praesentium 
                            eius explicabo maxime?
                        </p>
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="../../assets/house women-img3.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="card-title py-2">
                            jack3
                        </h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptatibus atque sit fugit commodi perspiciatis suscipit ipsam
                             labore nobis totam. Iusto 
                            odit magni et dolorem necessitatibus voluptatibus praesentium 
                            eius explicabo maxime?
                        </p>
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>