

   <div>
    <svg class="Background">
		<rect id="Background" rx="20" ry="20" x="0" y="0" width="1613" height="901"> -->
		 </rect>
        
	</svg>
    <nav class="navbar navbar-dark" id="navbar">
        <div class="container-fluid">
            <ul
                class="navbar-nav me-auto mb-2 mb-lg-0"> 
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#" id="home">Home</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="dis">New Arrivals</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="#" id="about">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="blog">Deals for you</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"
                        id="journals">Discounts</a>
                    </li>
                    <li class="nav-item">
                        <a
                        class="nav-link" href="#" id="gallery">Weekly offers</a>
                     </li>
                     <li class="nav-item">
                    <a class="nav-link" href="#" id="contact">Become A vendor</a></li>
                    <li>
                       
                      
              </ul>
    
           
              <img src="../../assets/Group 256.png" class="person-icon"> 
              <img src="../../assets/Group 255.png" class="icon">
          </div>
        
      </nav>
      <div id="Go_green">
        <span>Go green.</span>
    </div>
    <div id="The_world_of_plants">
        <span>The world of plants</span>
    </div>
    <div id="Discover_everything_you_need_t">
        <span>Discover everything you need to know about your plants, treat them with kindness and they will take care of you.</span>
    </div>
    <div id="Top_5_of_the_week">
        <span>Top 4 of the week</span>
    </div>
      <div id="Dracaena">
        
        <svg class="fondo_dracena">
            <rect id="fondo_dracena" rx="10" ry="10" x="0" y="0" width="435" height="390">
            </rect>
        </svg>
        <img src="../../assets/foto dracena@2x.png" id="foto_dracena" >
        
        <div id="Dracaena_Trifasciata">
            <span>Dracaena Trifasciata</span>
        </div>
        
        <div id="text_dracena">
            <div id="One_of_the_most_effective_hous">
                <span>One of the most effective houseplants in air purification. </span>
            </div>
            <div id="know_more_dracena">
                <div id="Know_more_bs">
                    <span>Know more</span>
                </div>
                <div id="Dracaena_arrow">
                    <svg class="Path_297_bu" viewBox="7.5 18 14 3">
                        <path id="Path_297_bu" d="M 7.5 18 L 21.50000190734863 18">
                        </path>
                    </svg>
                    <svg class="Path_298_bv" viewBox="18 7.5 6.777 14">
                        <path id="Path_298_bv" d="M 18 7.500000476837158 L 24.77696990966797 14.5 L 18 21.50000190734863">
                        </path>
                    </svg>
                </div>
                
            </div>
        </div>
        <svg class="Crassula_Fondo">
            <rect id="Crassula_Fondo" rx="10" ry="10" x="0" y="0" width="251" height="272">
            </rect>
        </svg>
        <img src="../../assets/foto crassula.png" id="foto_crassula" >
       
        <div id="Crassula_Ovata">
            <span>Crassula Ovata</span>
        </div>
        <svg class="fondo_hawor">
            <rect id="fondo_hawor" rx="10" ry="10" x="0" y="0" width="253" height="272">
            </rect>
        </svg>
        <img src="../../assets/foto cholor.png" id="foto_hawor" >
        <div id="Haworthiopsis_Attenuata_">
            <span>Haworthiopsis Attenuata </span>
        </div>
        <svg class="fondo_hawor1">
            <rect id="fondo_hawor1" rx="10" ry="10" x="0" y="0" width="253" height="272">
            </rect>
        </svg>	
        <img id="foto_brown" src="../../assets/foto hawor.png">
        <div id="Browningia_Hertlingiana">
            <span>Browningia Hertlingiana</span>
        </div>	
        
    </div>
   
  </div>
  
