
<div id="Group_6">
    <img id="Background" src="../../assets/Group 6.png" >
    <div id="Links">
        <div id="Reviews">
            <span>Reviews</span>
        </div>
        <div id="Flights">
            <span>Flights</span>
        </div>
        <div id="Packages">
            <span>Packages</span>
        </div>
        <div id="Destinations">
            <span>Destinations</span>
        </div>
        <div id="Explore">
            <span>Explore</span>
        </div>
        <div id="magnifying-glass">
            <img src="../../assets/magnifying-glass.png">
        </div>
        <div id="circle-user">
            <img src="../../assets/circle-user.png">
        </div>
        <div id="Its_time_to">
			<span>It's time to</span>
		</div>
        <div id="ADVENTURE">
			<span>ADVENTURE</span>
		</div>
        <div id="Round_Trip">
			<svg class="Rectangle_8">
				<rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="150" height="46">
				</rect>
			</svg>
			<div id="Round_trip">
				<span>Round trip</span>
			</div>
		</div>
        <div id="One_way">
			<svg class="Rectangle_9">
				<rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="150" height="46">
				</rect>
			</svg>
			<div id="One_way_bg">
				<span>One way</span>
			</div>
		</div>
        <svg class="Rectangle_10">
            <rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="150" height="46">
            </rect>
        </svg>
        <div id="Multi-city">
            <span>Multi-city</span>
        </div>
        <svg class="Rectangle_2">
            <rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="1117.387" height="125">
            </rect>
        </svg>
        <div id="Lofoten_Islands">
            <span>Lofoten Islands</span>
        </div>
        <div id="n__adults">
            <span>2 adults</span>
        </div>
        <div id="May_8th_2021">
            <span>May 8</span><span style="vertical-align:super;">th</span><span>, 2021</span>
        </div>
   
    <div id="May_19th_2021">
        <span>May 19</span><span style="vertical-align:super;">th</span><span>, 2021</span>
    </div>
    <svg class="Rectangle_3">
        <rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="162" height="61">
        </rect>
    </svg>
    <div id="Lets_go">
        <span>Let’s go!</span>
    </div>
    
</div>

</div>
<div id="Discover_your_next_adventure">
    <span>Discover your next adventure</span>
  </div>
  <div id="Show_me_more">
    <span>Show me more</span>
</div>
  <div id="Card_ba">
    <img src="../../assets/Card.png" height="300px" width="300px">
  </div>
  <div id="AdobeStock_390498659">
    <img src="../../assets/AdobeStock_390498659.png"  height="300px" width="300px">
  </div>
  <div id="AdobeStock_458932623">
    <img src="../../assets/AdobeStock_458932623.png"  height="300px" width="300px">
  </div>
  <div id="AdobeStock_475038679">
    <img src="../../assets/AdobeStock_475038679.png" height="300px" width="300px">
  </div>
	
